html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;    
    
    background-color: #5390f5;
}

body {
    padding: 10px;
    display: table-cell;
    background-color: whitesmoke;
    width: 750px;
    
}
  
  canvas {
    display: block;
  }

  #webcam-container {
    border: 5px solid #5390f5;
    border-radius: 3px; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    box-shadow: 5px -5px rgba(0,0,0,0.6);
   -moz-box-shadow: 5px -10px rgba(0,0,0,0.6);
   -webkit-box-shadow: 5px -5px rgba(0,0,0,0.6); 
   -o-box-shadow: 5px -5px rgba(0,0,0,0.6);
   width: 200px;
   height: 200px;
  }

  #label-container {
    width:200px;
    height:200px;
    margin-left:10px;
  }

#emoji {
    font-size: 55px;
    margin: auto;
}

  .removed {
    display: none;
  }
  
  #status {
    font-size:150%;
  }

  button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color:  #1ce9b6;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 3px #4285f4;
    margin-bottom: 8px;;
  }
  
  button:hover {background-color: #05c0a7}
  
  button:active {
    background-color: #05c0a7;
    box-shadow: 3px 5px #666;
    transform: translateY(4px);
  }

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;  
   
}  

.flex-child:first-child {
    margin-right: 20px;
    width:100px;
    height: 200px;
} 
.flex-child:second-child {
  margin-right: 0px;
} 